@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  }

  html.dark body {
    @apply bg-[#111827] text-gray-100;
  }
}

* {
  box-sizing: border-box;
}